.o {
    &_accordion {
        &-set {
            @extend .a_box;
            @extend .-white;
            padding: 16px;
            transition: all .3s;
            & + & {
                margin-top: 16px;
            }
            &_title {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                font-weight: bold;
                color: $black;
                cursor: pointer;
            }
            &_text {
                overflow: hidden;
                max-height: 0;
                transition: all .3s ease-in;
                p {
                    font-size: 14px;
                    line-height: 24px;
                    margin: 16px 0 0;
                }
                p + p {
                    margin-top: 8px;
                }
            }
            &.-active {
                @extend .-shadow;
                .o_accordion-set_text {
                    transition: all .3s ease-out;
                }
            }
        }
    }
}