#form-progress-bar {
    .progress-bar {
        width: 100%;
        height: 8px;
        background-color: $gray-second;
        margin: 24px 0 4px;
        .progress {
            height: 8px;
            transition: all .4s;
        }
    }
    p.step {
        font-size: 11px;
        line-height: 24px;
        text-transform: uppercase;
        .step-number {
            margin-left: 2px;
        }
    }
}