[data-tooltip] {
    position: relative;
    display: inline-block;
    cursor: help;
    &:after {
        content: "?";
        display: inline-block;
        position: relative;
        font-size: 10px;
        font-weight: bold;
        padding: 1px;
        background-color: $gray-third;
        color: $white;
        line-height: 10px;
        height: 12px;
        width: 12px;
        text-align: center;
        border-radius: 50px;
        top: -1px;
        margin-left: 5px;
    }
    &:before {
        display: none;
        content: attr(data-tooltip);
        position: absolute;
        padding: 12px;
        width: 180px;
        height: auto;
        background-color: $black;
        color: $white;
        font-size: 12px;
        line-height: 16px;
        left: -16px;
        bottom: 100%;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
    &:hover {
        &:before, &:focus {
            display: block;
        }
    }
}