.conversion-form {
  background-color: $brand-third;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.30);
  padding: 32px;
  &__header {
    margin: -32px -32px 0;
    padding: 32px 32px 24px;
    background-color: darken($brand-third, 5%);
  }
  &__title {
    color: $white;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
  }
  &__body {
    margin: 0px -32px -32px;
    padding: 32px;
    iframe {
      margin: -28px -28px -32px;
      width: calc(100% + 56px) !important;
    }
  }
  &__intro {
    color: $white;
    font-size: 13px;
    line-height: 24px;
  }
  &__label {
    color: $white;
    margin-bottom: 0;
  }
  &__input {
    margin-top: 4px;
  }
  &__alert {
    background: $highlight;
    color: $white;
    padding: 8px 0;
    display: none;
  }

  &.error {
    & .conversion-form__alert {
      display: block;
    }
  }
}
