.a {
  &_flex {
    @include desktop(){
      display: flex;
      &.-align_items-center {
        align-items: center;
      }
      &.-justify_content-center {
        justify-content: center;
      }
      &.-justify_content-space_around {
        justify-content: space-around;
      }
      &.-wrap {
        flex-wrap: wrap;
        & > div {
          flex: none;
        }
      }
    }
  }
}
