.page-template-page-home-new-2020 {
  & header,
  & section,
  & header p,
  & section p,
  & header li,
  & section li { 
    color: $new-text-black;
  }
  
  #home { overflow: unset; }
  
  .cookie-policy p { color: #fff; }
  
  h1,
  h2 { 
    color: $new-dark-blue;
    font-weight: 800; 
  }
  
  h2 {
    font-size: 3.5*$vr;
    letter-spacing: -1px;
    line-height: 5*$vr;
    @include mobile { text-align: center; }
    @include desktop {
      font-size: 4.5*$vr;
      line-height: 6*$vr;
    }
  }
      
  h3 {
    font-size: 3*$vr;
    line-height: 4*$vr;
    @include mobile { text-align: center; }
  }
  
  header {
    min-height: 13*$vr;
    @include mobile {
      min-height: 7*$vr;
    }
    
    nav.navbar-default {
      background-color: #fff !important;
      border-bottom: 1px solid $new-gray-second;
      
      .login-bar {
        background-color: $new-dark-blue;
      }
      
      .navbar-header .logo { background-image: url(img/logo-blue-secondary.svg); }
      
      li a { color: $new-text-black !important; }
      
      .navbar-toggle .icon-bar {
        background-color: $new-mid-blue;
      }
    }
    
    ul.navbar-right li:last-of-type { padding-right: 0px !important; }
    
    form {
      display: flex;
      margin-top: -13px;
      @include mobile {
        margin-top: 3*$vr;
      }
      * { margin: 0 !important; }
      input[type="email"] {
        min-width: 180px;
        height: 40px;
        min-height: 40px;
        border-right: 0px !important;
        border-radius: 4px 0px 0px 4px;
      }
      input.btn {
        min-width: 154px;
        padding: 4px 8px;
        border-radius: 0px 4px 4px 0px;
      }
    }
    
    @include mobile {
      nav.navbar-default ul.navbar-nav li.open ul.dropdown-menu { background-color: $new-gray-first; }
      nav.navbar-default ul.navbar-nav li.open ul.dropdown-menu li + li { border-top: 1px solid $new-gray-second; }
      & > nav.navbar-default ul.navbar-nav li.active > a,
      & > nav.navbar-default ul.navbar-nav li.active > a:hover,
      & > nav.navbar-default ul.navbar-nav li.active > a:focus,
      & > nav.navbar-default ul.navbar-nav li:hover > a,
      & > nav.navbar-default ul.navbar-nav li:hover > a:hover,
      & > nav.navbar-default ul.navbar-nav li:hover > a:focus,
      & > nav.navbar-default ul.navbar-nav li:focus > a,
      & > nav.navbar-default ul.navbar-nav li:focus > a:hover,
      & > nav.navbar-default ul.navbar-nav li:focus > a:focus,
      & > nav.navbar-default ul.navbar-nav li.open > a,
      & > nav.navbar-default ul.navbar-nav li.open > a:hover,
      & > nav.navbar-default ul.navbar-nav li.open > a:focus,
      & > nav.navbar-default ul.navbar-nav li.active > .dropdown-title,
      & > nav.navbar-default ul.navbar-nav li.active > .dropdown-title:hover,
      & > nav.navbar-default ul.navbar-nav li.active > .dropdown-title:focus,
      & > nav.navbar-default ul.navbar-nav li:hover > .dropdown-title,
      & > nav.navbar-default ul.navbar-nav li:hover > .dropdown-title:hover,
      & > nav.navbar-default ul.navbar-nav li:hover > .dropdown-title:focus,
      & > nav.navbar-default ul.navbar-nav li:focus > .dropdown-title,
      & > nav.navbar-default ul.navbar-nav li:focus > .dropdown-title:hover,
      & > nav.navbar-default ul.navbar-nav li:focus > .dropdown-title:focus,
      & > nav.navbar-default ul.navbar-nav li.open > .dropdown-title,
      & > nav.navbar-default ul.navbar-nav li.open > .dropdown-title:hover,
      & > nav.navbar-default ul.navbar-nav li.open > .dropdown-title:focus {
        background-color: $new-gray-second;
      }

      & > nav.navbar-default ul.navbar-nav li.open ul.dropdown-menu [class*=col-] h4, 
      & > nav.navbar-default ul.navbar-nav li.open ul.dropdown-menu [class*=col-] p {
        color: $new-text-black;
      }
    }
  }
  
  #home-banner {
    padding: 0px;
    position: relative;
    border-bottom: 1px solid $new-gray-second;
    
    a { 
      display: block; 
      padding: 5*$vr 0px; //vertical padding shouldn't be less than 3*$vr on each side.
      color: $new-text-black;
      font-size: 2*$vr;
      line-height: 3*$vr;
    }
    
    .tag {
      position: absolute;
      left: 5*$vr;
      top: 0;
      bottom: 0px;
      padding: 0 $vr;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      transform-origin: left;
      background-color: $new-mid-blue;
    }
  }
  
  #home-hero {
    margin: 4*$vr 0;
    padding: 8*$vr 0 7*$vr;
    text-align: center;
    background: $new-gray-first radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
    background-image: url(./img/home-hero.png), url(./img/home-hero.png);
    background-repeat: no-repeat;
    background-position: left -30% center, right -30% center;
    background-size: contain;
    @include mobile {
      margin-top: -2px;
      background-image: url(./img/home-hero.png);
      background-position: center;
    }
    @include desktop {
      margin: 4*$vr;
      padding: 12*$vr 0 18*$vr;
    }
    
    .row.flex { justify-content: space-around; }
  
    h1 {
      margin-bottom: 3*$vr;
      font-size: 5*$vr;
      letter-spacing: -1px;
      line-height: 6*$vr; 
      br { display: none; }
      @include desktop {
        margin-bottom: 5*$vr;
        font-size: 8*$vr;
        line-height: 9*$vr;
        br { display: block; }
      }
      
      .animation {
        width: 250px;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        @include mobile {
          width: 160px;
          height: 6*$vr; 
          display: block;
          margin: auto;
        }
      }
      .word {
        display: inline-block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 0px 2*$vr;
        color: $new-complement-first;
        background-color: rgba($new-complement-first, 0.15);
        animation-name: livetitle;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        &:before {
          //content: '';
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0px;
          height: 4px;
          background: $new-complement-first;
          animation-name: livetitle-loading;
          animation-duration: 9s; 
          animation-iteration-count: infinite;
          animation-timing-function: ease-out;
        }
        &:after {
          height: 40px;
          position: absolute;
          left: 97%;
          top: -12px;
          content: '';
          background-image: url(./img/home-animation-particles.png);
          background-size: 33px 40px;
          animation-name: livetitle-particles;
          animation-duration: 9s;
          animation-iteration-count: infinite;
        }
        &.second,
        &.second:after,
        &.second:before { 
          animation-delay: -6s; 
        }
        &.third,
        &.third:after,
        &.third:before { 
          animation-delay: -3s; 
        }
        &.second { @include mobile { left: -8px; } }
        &.third { @include mobile { left: -16px; } }
      }
    }
    
    p {
      font-size: 2*$vr;
      line-height: 3*$vr;
      @include desktop {
        font-size: 20px;
        line-height: 4*$vr;
      }
    }
    
    form {
      display: flex;
      border-radius: 4px;
      box-shadow: 0px 6px 12px 0px rgba(21,50,93,0.06), 0px 2px 4px 0px rgba(21,50,93,0.1), 0px 10px 34px 0px rgba(21,50,93,0.15);
      @include mobile {
        display: block;
        margin-top: 2*$vr;
        box-shadow: none;
      }
      
      input { margin-top: 0px; }
      
      input[type="email"] { 
        width: 72%;
        height: 56px;
        padding: 2*$vr;
        line-height: 3*$vr;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid $new-dark-blue !important;
        border-right: none !important;
        @include mobile {
          width: 100%;
          margin-bottom: $vr;
          border-radius: 4px;
          border-right: 1px solid $new-dark-blue !important;
          box-shadow: 0px 6px 12px 0px rgba(21,50,93,0.06), 0px 2px 4px 0px rgba(21,50,93,0.1), 0px 10px 34px 0px rgba(21,50,93,0.15);
        }
        
        &:focus {
          outline: none;
          border: 2px solid $new-dark-blue !important;
          box-shadow: none;
        }
      }
      
      input[type="submit"] {
        width: 28%;
        border-radius: 0px 4px 4px 0px;
        @include mobile {
          width: 100%;
          border-radius: 4px;
          box-shadow: 0px 6px 12px 0px rgba(21,50,93,0.06), 0px 2px 4px 0px rgba(21,50,93,0.1), 0px 10px 34px 0px rgba(21,50,93,0.15);
        }
      }
    }
    
    .form-disclaimer {
      margin-top: $vr;
      color: #5f5f5f;
      font-size: 14px;
      font-style: italic;
      line-height: 3*$vr;
    }
  }
  
  #rdsm-why {
    padding: 0px;
    @include desktop {
      padding: 8*$vr 0px;
    }
    
    .text-right {
      @include mobile {
        text-align: center;
      }
      
      h2, 
      p {
        display: block;
        @include desktop {
          margin-right: 8%;
        }
      }
      
      h2 { margin-top: 7*$vr; }
      
      p {
        line-height: 4*$vr;
        @include desktop {
          margin-left: 10%; 
        }
      }
    }
    
    .award {
      position: relative;
      background: linear-gradient(0deg, #FBF8FF 0%, #FBF8FF 33%, #EBE3F6 33%, #EBE3F6 74%, #ffffff 74%, #ffffff 100%);
      &:before {
        width: 92px;
        height: 153px;
        display: block;
        content: '';
        position: absolute;
        right: 10px;
        top: -25px;
        background-image: url(./img/home-b2bstack-particles.svg);
        background-size: contain;
      }
      
      img { height: 26*$vr; }
      
      p {
        margin: 0px;
        padding: 0px 0px 2*$vr;
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 3*$vr;
        
        strong {
          display: block;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }
  
  #rds-features {
    margin-top: 10*$vr;
    padding: 0px;
    @include desktop {
      padding: 0px 4*$vr;
    }
    
    ul li {
      padding: 0px;
      margin: 0px;
    }
    ul li:before { display: none; } 
    
    .row { align-items: flex-end; }
    
    h2 { 
      margin-bottom: 5*$vr;
      font-weight: 400;
      text-align: center;
      
      strong {
        font-weight: 800;
        @include desktop {
          display: block;
        }
      }
    }
    
    .product-tabs {
      margin-bottom: $vr;
      border-bottom: 2px solid $new-gray-second;
    }
    
    .nav-tabs {
      display: flex;
      margin-top: 2*$vr;
      margin-bottom: -2px;
      justify-content: center;
      border: none;
      
      li { 
        @include mobile { width: 50%; }
        a {
          padding: 12px 4*$vr;
          margin: 0;
          color: $new-dark-blue;
          font-size: 20px;
          line-height: 3*$vr;
          text-align: center;
          text-transform: uppercase;
          background-color: $new-gray-second;
          border: none;
          border: 2px solid $new-gray-second;
          border-radius: 0px;
          box-shadow: none;
          @include mobile {
            padding: 12px $vr;
            font-size: 2.5*$vr;
            line-height: 3*$vr;
          }
        }
        
        &.active {
          font-weight: 600;
          
          a { 
            background-color: #ffffff;
            border-bottom: 2px solid #ffffff; 
          }
        }
        &:not(.active) a:hover {
          background-color: $new-gray-first;
          border-left-color: $new-gray-first;
          border-top-color: $new-gray-first;
          border-right-color: $new-gray-first;
        }
      }
      li + li { margin-left: $vr; }
    }
    
    .tab-content {
      background-color: $new-dark-blue;
      
      #tab-marketing { 
        background: linear-gradient(0deg, #27A0FF -47%, rgba(39, 160, 255, 0) 16%);
        @include desktop { background: linear-gradient(314.05deg, #27A0FF -47%, rgba(39, 160, 255, 0) 38%); }
      }
      #tab-crm { 
        background: linear-gradient(0deg, #F45567 -45%, rgba(244, 85, 103, 0) 16%);
        @include desktop { background: linear-gradient(286deg, #F45567 -45%, rgba(244, 85, 103, 0) 46%); }
      }
      
      .row {
        padding-top: 6*$vr; 
        padding-bottom: 6*$vr;
        overflow: unset;
        @include desktop { padding-bottom: 0px; }
      }
      
      .rds-screens {
        position: relative;
        
        .rds-screen {
          max-width: 100%;
          margin-bottom: 5*$vr;
          mix-blend-mode: lighten;
          transition: 0.5s;
          opacity: 0.7;
          &.active {
            opacity: 1;
          }
        }
      }
      
      .features-spy {
        position: sticky;
        top: 16*$vr;
        margin-bottom: 6*$vr;
      }
      
      .rd_marketing_logo,
      .rd_crm_logo { 
        height: 4*$vr; 
        margin-bottom: 3*$vr;
        background-position: left center;
        @include mobile {
          width: 100%;
          background-position: center; 
        }
      }
      
      ul li {
        & + li { margin-top: 3*$vr; }
        
        * { 
          color: #fff;
          @include desktop {
            color: rgba(255,255,255,0.5); 
          }
        } 
        
        a img {
          max-width: 100%;
          margin: 3*$vr auto;
          mix-blend-mode: lighten;
        }
        
        h3 {
          margin: 0px 0px $vr;
          font-weight: 600;
          letter-spacing: -0.5px;
          text-transform: uppercase;
        }
        
        @include mobile { p { text-align: center; } }
        
        &.active { 
          * { color: #fff; }
          
          h3 { font-weight: 800; }
        }
      }
      
      .product-ctas {
        padding: 3*$vr 2*$vr;
        background-color: $new-dark-blue;
        @include desktop { padding: 3*$vr 0px; }
        
        .btn { 
          margin-top: 0px;
          padding-left: 5%;
          padding-right: 5%;
        }
        .btn-white:not(.btn-outline) { color: $new-dark-blue; }
        .btn + .btn { 
          margin-top: 2*$vr; 
          @include desktop {
            margin-top: 0px;
            margin-left: 3*$vr;
          }
        }
      }
    }
  }
 
  #rds-service {
    margin-top: 5*$vr;
    padding-bottom: 0px;
    position: relative;
    z-index: 2;
    
    .container {
      padding-bottom: 15*$vr;
      
      &:after {
        height: 5*$vr;
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #fff;
      } 
    }
    
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 5*$vr;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: $new-gray-first;
      z-index: -1;
      @include desktop { 
        top: 0px;
        left: 4*$vr;
        right: 4*$vr;
      }
    }
    
    .rdoer {
      padding-top: 3*$vr; 
      color: #fff;
      text-align: center;
      background-color: $new-complement-first;
      background-image: url(./img/home-rdoer-background.svg);
      background-size: auto 304px;
      background-position: bottom 80px left 60px;
      background-repeat: no-repeat; 
      
      h2 { color: #fff; }
      
      img {
        height: 40*$vr;
        @include desktop { 
          height: 48*$vr;
          margin-right: -100px; 
        }
      }
      
      span {
        padding: 2*$vr $vr;
        line-height: 3*$vr;
        display: block;
        background-color: #401F66;
      }
    }
    
    .service {
      padding-left: 20px;
      
      .row {
        justify-content: space-around;
      }
      
      h3 {
        margin-top: 3*$vr;
        margin-left: -20px;
        padding: $vr 2*$vr;
        color: $new-text-black;
        font-size: 3*$vr;
        font-weight: 600;
        line-height: 4*$vr;
        background-color: rgba($new-complement-first, 0.1);
        border-left: 4px solid $new-complement-first;
      }
      
      p {
        margin-bottom: 4*$vr;
        font-size: 20px;
        line-height: 3*$vr;
      }
      
      ul li {
        & + li { margin-top: 2*$vr; }
        &:before {
          width: 13px;
          height: 10px;
          display: block;
          top: 8px;
          left: -20px;
          background-image: url(./img/icons/home_list_check.svg);
          background-position: top left;
          background-size: contain;
        }
      }
    }
    
    ul li {
      padding: 0px;
      margin: 0px;
    }
    ul li:before { display: none; } 
  }
  
  #rds-social_proof {
    padding: 5*$vr 0px;
    
    .grid {
      margin-top: 8*$vr;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
      grid-column-gap: 30px;
      @include mobile {
        display: block; 
      }
    }
    
    blockquote {
      min-height: 24*$vr;
      padding: 0px;
      margin: 0px;
      display: flex;
      cursor: pointer;
      @include mobile {
        display: block;
        margin-bottom: 3*$vr;
      }
      
      & + blockquote {
        margin-top: 12*$vr;
        @include desktop { margin-top: 0px; }
      }
      
      &:before { display: none; }
      
      figure { 
        width: 100%;
        min-height: 24*$vr;
        max-height: 20*$vr;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        background-color: rgba($new-complement-first, 0.1); 
        @include desktop { 
          max-height: 26*$vr;
          max-width: 190px; 
          border-right: 4px solid $new-complement-first;
        }
        img { 
          max-width: 100%; 
          @include mobile { 
            max-height: 28*$vr;
          }
        }
      }
      
      div {
        padding: 4*$vr;
        background-color: $new-complement-first;
        @include desktop { 
          display: none;
          padding-left: 0px; 
        }
        
        & > p {
          margin-bottom: $vr;
          color: #fff;
          font-size: 2*$vr;
          line-height: 3*$vr;
          position: relative;
          
          &:before {
            width: 24px;
            height: 22px;
            display: block;
            position: absolute;
            left: -28px;
            top: 0px;
            content: '';
            background-image: url(./img/quote-white-outline.svg);
            background-size: contain;
            background-repeat: no-repeat;
            @include desktop { 
              width: 34px;
              height: 29px;
              left: -40px;
            }
          }
        }
        
        footer {
          text-align: left;
          
          p { margin: 0px; }
          
          span { display: block; }
          
          &:before {
            display: none;
          }
        }
      }
      
      &.active {
        grid-column-end: span 4;
        figure {
          @include desktop { 
            background-color: $new-complement-first; 
            background-image: url(./img/home-testimonial-particles.svg);
            background-size: 65px 65px;
            background-position: bottom 16px right 16px;
            background-repeat: no-repeat;
          }
        }
        div { display: block; }
      }
    }
    
    .customers {
      margin-top: 4*$vr;
      padding-bottom: 3*$vr;
      text-align: center;
      background-color: rgba($new-complement-first, 0.1);
      
      ul {
        display: flex;
        margin-bottom: 0px;
        padding: 3*$vr 4*$vr;
        align-items: center;
        justify-content: space-around;
        @include mobile { display: block; }

        li {
          padding: 0px;
          margin: 0px;
          @include mobile { margin-bottom: 5*$vr; }
          
          img { height: 6*$vr; }
          img[alt="Universidade Anhembi Morumbi"] { height: 44px; }
          img[alt="Cottonbaby"],
          img[alt="THT"],
          img[alt="Goobec"] { height: 5*$vr; }
          img[alt="Vick"] { height: 8*$vr; }
          img[alt="Clicksign"],
          img[alt="Vaya Car"],
          img[alt="Endeavor Mexico"] { height: 4*$vr; }

          &:before { display: none; } 
        }
      }
      
      a {
        display: inline-block;
        color: $new-dark-blue;
        font-weight: 600;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }
  }
  
  #rds-content {
    padding: 4*$vr 0px 12*$vr;
    @include desktop { padding: 12*$vr 0px 20*$vr; }
    
    h2 { 
      margin-bottom: 3*$vr;
      @include desktop { margin-bottom: 7*$vr; }
    }
    
    a {
      display: block;
      
      &:hover { text-decoration: none; }
      
      &.content-image {
        width: 90%;
        height: 24*$vr;
        margin-left: 10%;
        overflow: hidden;
        @include desktop {
          width: 80%;
          margin-left: 20%;
        }
        
        img { width: 100%; }
      }
      
      &.content-description {
        width: 95%;
        display: block;
        position: relative;
        margin-top: -10*$vr;
        padding: 2*$vr;
        background-color: $new-gray-first;
        z-index: 2;
        @include mobile { margin-bottom: 5*$vr; }
        @include desktop { width: 90%; }
        
        .source {
          display: block;
          margin-bottom: 2*$vr;
          color: $new-dark-blue;
          font-size: 14px;
          text-transform: uppercase;
        }
        
        p {
          margin-bottom: 2*$vr;
          color: $new-dark-blue;
          font-weight: 600;
          letter-spacing: -0.5px;
        }
        
        .action {
          color: $new-mid-blue;
          text-decoration: underline;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      
    }
    
  }
  
  footer p {
    color: #fff;
  }
  
}

@keyframes livetitle {
  0% { max-width: 0px; opacity: 0; }
  3% { opacity: 1; }
  5% { max-width: 1000px; }
  30% { max-width: 1000px; }
  32% { opacity: 1; }
  34% { opacity: 0; }
  35% { max-width: 0px; }
  100% { max-width: 0px; opacity: 0; }
}

@keyframes livetitle-loading {
  0% { width: 0px; background: $new-complement-first; }
  35% { width: 100%; background: linear-gradient(to right, $new-complement-first 0%, $new-highlight 100%); }
  40% { width: 0px; background: $new-complement-first; }
  100% { width: 0px; }
}

@keyframes livetitle-particles {
  0% { opacity: 0; width: 0px; }
  2% { opacity: 0; width: 0px; }
  2.1% { width: 15px; }
  3.1% { opacity: 1; width: 15px; }
  5.2% { opacity: 1; width: 33px; }
  10% { opacity: 1; }
  15% { opacity: 0; width: 33px; }
  100% { opacity: 0; width: 0px; }
}